{% extends 'base.html' %}

{% block title %}
Удалить
{% endblock %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block content %}
<div class="col-md-8">
    <div class="card mb-3">
<form action="{% url 'delete' task_id=task.id %}" method="post">
    {% csrf_token %}
    <h3>Вы уверены, что хотите удалить задачу <b>"{{ task.title|title }}"</b>?</h3>
    <a href="{{ task.get_absolute_url }}" class="btn btn-primary">Отменить</a>
    <button type="submit" name="button" class="btn btn-danger">Удалить</button>
</form>
    </div>
</div>
{% endblock %}
