{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}">
  </head>
  <body>

{% include 'inc/_nav.html' %}

<div style="margin-top: 3px;" class="ui container">
    <div class="row">

        {% block sidebar %}{% endblock %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

        {% block content %}{% endblock %}

        {% if page_obj.has_other_pages %}
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a>
                        </li>
                        {% endif %}
                        {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a>
                        </li>
                        {% endif %}
                {% endif %}

                    </ul>
                </nav>
    </div>
</div>



    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
  </body>
</html>